<li class="flex inline-flex gap-x-1 items-center my-2">
  <p>
    <%= render connection.parent_node, highlighted: node == connection.parent_node %>
    ->
    <%= render connection.child_node, highlighted: node == connection.child_node %>
  </p>
</li>
