<div class="flex mx-auto w-full md:w-2/3">
  <div class="mx-auto">
    TODO: Play game...

    <%= link_to "Back to games", games_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
